@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Dana";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/DanaFaNum-Regular.ttf");
}
@font-face {
  font-family: "Dana";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/DanaFaNum-Medium.ttf");
}
@font-face {
  font-family: "Dana";
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/DanaFaNum-Bold.ttf");
}

html,
* {
  font-family: "Dana", sans-serif !important;
}

:root {
  --primary: #1647a9;
  --secondary: #031847;
  --primary-50: #e3f2fe;
  --primary-100: #bbdcfb;
  --primary-200: #90c6fc;
  --primary-300: #63b6dd;
  --primary-400: #1a96d1;
  --primary-500: #2091fc;
  --primary-600: #2080ee;
  --primary-700: #1d77d4;
  --primary-800: #186cc4;
  --primary-900: #1647a9;
  --primary-950: #0a3386;

  --zinc-50: #f6f6f6;
  --zinc-100: #e4e4e5;
  --zinc-200: #c1c1c7;
  --zinc-300: #d4d4d8;
  --zinc-400: #7f7f7a;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;

  --green-50: #e6fff4;
  --green-100: #cdfeec;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;

  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172654;

  --amber-50: #fffceb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;
  --amber-950: #451a03;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;
}
.menu-mob {
  background-color: #ffffff;
}
.serach-bg {
  background-image: url("./images/search-bg.png");
}
.main-header {
  z-index: 40;
}
.fav-tours:hover .box svg path {
  fill: white !important;
}
.fav-tours:hover .box span {
  color: white !important;
}
.fav-tours:hover .box2 svg path {
  stroke: white !important;
}
.swiper-forth .swiper-pagination-bullet-active {
  background: var(--primary-600) !important;
}
.set-hvr:hover img {
  animation: gelatine 1.5s infinite;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.99, 1.01);
  }

  50% {
    transform: scale(1.01, 0.99);
  }

  75% {
    transform: scale(0.99, 1.01);
  }
}
.box-container .answer {
  opacity: 0;
  display: none;
  transition: all 0.3s ease-in-out;
}
.box-container.active .answer {
  opacity: 0;
  overflow: hidden;
  display: block !important;
  animation: fadeIn 0.5s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.box-container.active .cross {
  transform: rotate(0deg) !important;
}
.box-container.active .cross svg path {
  fill: #dc2e2e !important;
}
.box-container:last-child {
  border: none !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
.txt-gr {
  background: -webkit-linear-gradient(#fff, #ffffff00);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
